.recipesItem {
width: 376px;
// height: 210px;
border: 1px solid black;
}

// .recipesItem__title {

// }

// .recipesItem__text {

// }

// .recipesItem__calories {

// }
// .recipesItem__star {}

.recipesItem__img {
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	margin: 0 auto;
}